<table class="table">
    <thead class="mdb-color darken-3">
        <tr class="text-white">
            <th>Email</th>
            <th>Admin</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      {{#each Users}}
        <tr>
            <td>
              {{this.email}}
            </td>
            <td>
              {{this.isAdmin}}
            </td>
            <td>
              <button class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
            </td>
            <td>
              <button class="btn btn-primary"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
            </td>
        </tr>
        {{/each}}

    </tbody>

</table>

<table class="table">
    <thead class="mdb-color darken-3">
        <tr class="text-white">
            <th>SerialID</th>
            <th>Longitude</th>
            <th>Latitude</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      {{#each sensorHubs}}
        <tr>
            <td>
              {{this.SerialID}}
            </td>
            <td>
              {{this.Longitude}}
            </td>
            <td>
              {{this.Latitude}}
            </td>
            <td>
              <button class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
            </td>
            <td>
              <button class="btn btn-default"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
            </td>
        </tr>
        {{/each}}

    </tbody>

</table>
