<h1 class="h1">
	{{i18n "index.heading"}}
</h1>

<hr />

<p>
	{{i18n "index.hometext1"}}
<br><br>
    {{i18n "index.hometext2"}}
<br><br>
    {{i18n "index.hometext3"}}
<br><br>
    {{i18n "index.hometext4"}}    
</p>
