<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Title -->
  {{#if title}}
    <title>PDS - {{title}}</title>
  {{else}}
    <title>Pollution Detection System</title>
  {{/if}}

  <!-- Style -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha256-Md8eaeo67OiouuXAi8t/Xpd8t2+IaJezATVTWbZqSOw=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.3/css/mdb.min.css" integrity="sha256-IC/xkf6XNSeEYaDSRJQv0XwH9mhnhA90tRN99r4MtsU=" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/style.css">

  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fa fa-bars fa-1x"></i> PDS
    </button>

    <a class="navbar-brand" href="/">
      <span class="clearfix d-none d-sm-inline-block">
        Pollution Detection System
      </span>
    </a>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">
            {{i18n "layout.home"}}
          </a>
        </li>

        {{#if @user}}
          <li class="nav-item">
            <a class="nav-link" href="/map">
              {{i18n "layout.map"}}
            </a>
          </li>

          {{#if @user.isAdmin}}
            <li class="nav-item">
              <a class="nav-link" href="/admin">
                {{i18n "layout.admin"}}
              </a>
            </li>
          {{/if}} 
        {{/if}}
      </ul>
    </div>

    {{#if @user}}
    <ul class="nav navbar-nav nav-flex-icons ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbar-account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i>
          <span class="clearfix d-none d-sm-inline-block">{{i18n "layout.profile"}}</span>
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
          <a class="dropdown-item" href="/account">
            {{i18n "layout.my-account"}}
          </a>

          <a class="dropdown-item" href="/logout">
            {{i18n "layout.logout"}}
          </a>

          <div class="flag" id="locale-en">
            <img alt="English" src="/lang_en.png" />
          </div>

          <div class="flag" id="locale-nl">
            <img alt="Nederlands" src="/lang_nl.png" />
          </div>
        </div>
      </li>
    </ul>
    {{/if}}
  </nav>

  <main>
    {{{body}}}
  </main>

  <footer class="page-footer font-small darken-3 mt-4">
    <div class="footer-copyright text-center py-3 white-text">
      Copyright (C) 2018 Cygni (Planet 25)
    </div>
  </footer>

  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha256-98vAGjEDGN79TjHkYWVD4s87rvWkdWLHPs5MC3FvFX4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha256-xaF9RpdtRxzwYMWg4ldJoyPWqyDPCRD0Cv7YEEe6Ie8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.3/js/mdb.min.js" integrity="sha256-5gNNBFvd0iqkYNLBHYYPngnIumXD0iU6DX4ouUC5vsY=" crossorigin="anonymous"></script>
  <script src="/js/locales.js"></script>
</body>

</html>