<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Title -->
  {{#if title}}
    <title>PDS - {{title}}</title>
  {{else}}
    <title>Pollution Detection System</title>
  {{/if}}

  <!-- Style -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet" integrity="sha384-Xs3HsmEnkn3GuuBg8nr2ntOPDKbIntZF4fC9XXL1hqsgaVVnKd6vHnf9YVT/R6Kj" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">

  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark cyan">
      <span class="white-text navbar-brand mr-5">
        Pollution Detection System
      </span>
      <button id="hamburger-menu-toggler" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle menu">
        <span class="black-text">
          <i class="fa fa-bars fa-1x"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-3">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="white-text nav-link" href="/">
              {{i18n "layout.home"}}
            </a>
          </li>
            {{#if @user}}
          <li class="nav-item">
            <a class="white-text nav-link" href="/map">
              {{i18n "layout.map"}}
            </a>
          </li>
            {{#if @user.isAdmin}}
          <li class="nav-item">
            <a class="white-text nav-link" href="/admin">
              {{i18n "layout.admin"}}
            </a>
          </li>
            {{/if}}
        </ul>
          <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i> {{@user.name}} </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                      <a class="dropdown-item" href="/logout">Log out</a>
                        <div class="flag" >
                          <img alt="English" id="locale-en" src="/lang_en.png" />
                          <img alt="Nederlands" id="locale-nl"class="flag" src="/lang_nl.png" />
                        </div>
                  </div>
            </li>
                {{else}}
            <li class="nav-item">
              <a class="white-text nav-link" href="/login">
                {{i18n "layout.login"}}
              </a>
            </li>
              {{/if}}
          </ul>
      </div>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer class="page-footer rgba-blue-strong">
    <div class="footer-copyright py-3 text-center white-text">
      Copyright (C) 2018 Cygni (Planet 25)
    </div>
  </footer>

  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.1/umd/popper.min.js" integrity="sha256-AoNQZpaRmemSTxMy9xcqXX5VLwI6IMPYugO7bFHOW+U=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha256-5+02zu5UULQkO7w1GIr6vftCgMfFdZcAHeDtFnKZsBs=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js" integrity="sha256-QZSO8dEprjUmbVDiez1Tpan+c4M7IKOHiEmYYZZJyaM=" crossorigin="anonymous"></script>
  <script src="/js/locales.js"></script>
</body>

</html>