<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/jquery.dataTables.min.css" integrity="sha256-YY1izqyhIj4W3iyJOaGWOpXDSwrHWFL4Nfk+W0LyCHE=" crossorigin="anonymous" />

<div class="container-fluid">
  <h1 class="heading-margin">{{ valueID.valueID }}</h1>

  <hr />
  <div class="row">

    <div class="col-12 col-xl-12">
      <table class="table table-responsive-md table-striped" id="table-limitvalue">
        <thead class="rgba-blue-dark darken-3">
          <tr class="text-white">
            <th>{{i18n "admin.limitvaluevalue"}}</th>
            <th>{{i18n "admin.limitvaluename"}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each valueID}}
          <tr>
            <td>
              {{this.value}}
            </td>
            <td>
              {{this.valueID}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

  </div>

    <form action="/limitvalue/{{valueID.valueID}}" method="post">
                <div class="md-form">
                  <i class="fa fa-user prefix grey-text"></i>
                  <input type="text" id="form3" name="NewValue" class="form-control">
                  <label for="form3">{{i18n "limitvalue.newvalue"}}</label>
                </div>
                <div class="text-center mt-3">
                  <button class="btn btn-indigo">{{i18n "limitvalue.updatevalue"}}</button>
                </div>
              </form>
    
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/jquery.dataTables.min.js" integrity="sha256-qcV1wr+bn4NoBtxYqghmy1WIBvxeoe8vQlCowLG+cng=" crossorigin="anonymous"></script>
<script src="/js/limitvalue.js" crossorigin="anonymous"></script>
