<!-- Style -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.4/ol.css" integrity="sha256-rQq4Fxpq3LlPQ8yP11i6Z2lAo82b6ACDgd35CKyNEBw="
  crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik="
  crossorigin="anonymous" />
<div class="card z-depth-2 sidebar">
  <div class="card-header info-color lighten-1 white-text">
    Options
  </div>
  <div class="card-body">
    <label>
      <b>
        Go To:
      </b>
    </label>
    <div class="md-form" style="margin-top: 0px;">
      <i class="fa fa-globe prefix"></i>
      <input id="address" type="text" placeholder="Search location" class="form-control">
      <div class="alert alert-danger" id="goToError"></div>
    </div>
    <hr>

    <label>
      <b>
        Features:
      </b>
    </label>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="mapboxLayer">
      <label class="custom-control-label" for="mapboxLayer">Navigation</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="sensorhubLayer">
      <label class="custom-control-label" for="sensorhubLayer">SensorHubs</label>
    </div>
    <hr>

    <label>
      <b>
        Layers:
      </b>
    </label>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="tempEnabled">
      <label class="custom-control-label" for="tempEnabled">Temperature</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="gasEnabled">
      <label class="custom-control-label" for="gasEnabled">Gasses</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="lightEnabled">
      <label class="custom-control-label" for="lightEnabled">Light</label>
    </div>
    <hr>

    <label>
      <b>
        Timeline:
      </b>
    </label>
    <div class="btn-group" style="width: 100%;">
      <div id="custom-handle" style="width: 50%;">
        Latest data
      </div>
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        id="time-button" style="width: 50%;">
        2 uur
      </button>

      <div class="dropdown-menu" id="time-menu">
        <a class="dropdown-item" href="#" id="time-1">1 uur</a>
        <a class="dropdown-item" href="#" id="time-2" style="display: none;">2 uur</a>
        <a class="dropdown-item" href="#" id="time-6">6 uur</a>
        <a class="dropdown-item" href="#" id="time-12">12 uur</a>
        <a class="dropdown-item" href="#" id="time-24">24 uur</a>
      </div>
    </div>

    <div id="slider" style="margin-top: 15px;">
      <div class="ui-slider-handle"></div>
    </div>
    <hr>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#legendaModal">
      {{i18n "map.map-information"}}
    </button>

    <!-- Modal for map information -->
    <div class="modal fade" id="legendaModal" tabindex="-1" role="dialog" aria-labelledby="legendaModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="legendaModalLabel">{{i18n "map.map-information"}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-body">
              <h4>{{i18n "map.temperature"}}:</h4>
              <table>
                <tr style="height: 20px;">
                  <td style="background-color: dimgray"></td>
                  <td style="background-color: rgb(255, 0, 255);"></td>
                  <td style="background-color: rgb(128, 0, 255);"></td>
                  <td style="background-color: rgb(0, 0, 255);"></td>
                  <td style="background-color: rgb(0, 127, 255);"></td>
                  <td style="background-color: rgb(0, 255, 255);"></td>
                  <td style="background-color: rgb(0, 255, 128);"></td>
                  <td style="background-color: rgb(0, 255, 0);"></td>
                  <td style="background-color: rgb(127, 255, 0);"></td>
                  <td style="background-color: rgb(255, 255, 0);"></td>
                  <td style="background-color: rgb(255, 128, 0);"></td>
                  <td style="background-color: rgb(255, 0, 0);"></td>
                </tr>
                <tr style="height: 20px;">
                  <td style="padding-left: 2px; padding-right: 2px;">{{i18n "map.invalid"}}</td>
                  <td style="padding-left: 2px; padding-right: 2px;">-50°C</td>
                  <td style="padding-left: 2px; padding-right: 2px;">-40°C</td>
                  <td style="padding-left: 2px; padding-right: 2px;">-30°C</td>
                  <td style="padding-left: 2px; padding-right: 2px;">-20°C</td>
                  <td style="padding-left: 2px; padding-right: 2px;">-10°C</td>
                  <td style="padding-left: 2px; padding-right: 2px;">0°C</td>
                  <td style="padding-left: 2px; padding-right: 2px;">10°C</td>
                  <td style="padding-left: 2px; padding-right: 2px;">20°C</td>
                  <td style="padding-left: 2px; padding-right: 2px;">30°C</td>
                  <td style="padding-left: 2px; padding-right: 2px;">40°C</td>
                  <td style="padding-left: 2px; padding-right: 2px;">50°C</td>
                </tr>
              </table>

              <hr>
              <h4>{{i18n "map.light"}}:</h4>
              <table>
                <tr>
                  <td>
                    <img src="/bulb_7_0.png" style="display:block;" width="100%" height="100%">
                  </td>
                  <td>
                    <img src="/bulb_0_1.png" style="display:block;" width="100%" height="100%">
                  </td>
                  <td>
                    <img src="/bulb_1_1.png" style="display:block;" width="100%" height="100%">
                  </td>
                  <td>
                    <img src="/bulb_2_1.png" style="display:block;" width="100%" height="100%">
                  </td>
                  <td>
                    <img src="/bulb_3_1.png" style="display:block;" width="100%" height="100%">
                  </td>
                  <td>
                    <img src="/bulb_4_1.png" style="display:block;" width="100%" height="100%">
                  </td>
                  <td>
                    <img src="/bulb_5_1.png" style="display:block;" width="100%" height="100%">
                  </td>
                  <td>
                    <img src="/bulb_6_1.png" style="display:block;" width="100%" height="100%">
                  </td>
                  <td>
                    <img src="/bulb_7_1.png" style="display:block;" width="100%" height="100%">
                  </td>
                </tr>
                <tr>
                  <td>{{i18n "map.invalid"}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>

              <hr>
              <h4>Gas:</h4>
              {{i18n "map.valid-measurement"}}:
              <br>
              <font color="white" style="background-color: black;">CO: 15 PPM</font>
              <br> {{i18n "map.wrong-measurement"}}:
              <br>
              <font color="white" style="background-color: red;">CO: 100 PPM</font>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">{{i18n "map.close"}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card text-center z-depth-2 map">
  <div class="card-header info-color lighten-1 white-text">
    {{i18n "map.map-information"}}
  </div>
  <div class="card-body">

    <div id="map">
    </div>

    <!-- Modal for pop up sensorhub -->
    <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{i18n "map.sensorhub-information"}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="row">
              <div class="col-12">
                <canvas id="tempChart"></canvas>
              </div>

              <div class="col-12">
                <canvas id="lightChart"></canvas>
              </div>

              <div class="col-12">
                <canvas id="gassChart"></canvas>
              </div>
              <br>
            </div>
          </div>

          <div class="modal-footer">
            <a id="detailButton">
              <button type="button" class="btn btn-primary">{{i18n "map.more-details"}}</button>
            </a>

            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{i18n "map.close"}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Scripts -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxgkazSz27Oj0EwF4ihxIefC6_eaF79wk&libraries=places" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.js" integrity="sha256-77IKwU93jwIX7zmgEBfYGHcmeO0Fx2MoWB/ooh9QkBA=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/js/map.js" crossorigin="anonymous"></script>
