<!-- Profiel Pagina -->

<link rel="stylesheet" href="/css/profile.css" rel="stylesheet" crossorigin="anonymous">

<div class="card">
<div class="card-header white-text info-color">Account Info</div>
<div class="card-body">
<div class="row align-middle text-center">
			<div class="text-right col" id="properties">
				{{i18n "account.name"}}
				<br />
				{{i18n "account.email"}}
				<br />
				{{i18n "account.admin"}}
				<br />
				{{i18n "account.password"}}
			</div>
			<div class="text-left col">
				<span>{{user.name}}</span>
				<br />
				<span>{{user.email}}</span>
				<br />
				<span>
				{{#if user.isAdmin}}
					{{i18n "account.yes"}}
				{{else}}
					{{i18n "account.no"}}
				{{/if}}
				</span>
				<br />
				<i>
					<span>hidden</span>
				</i>
			</div>
</div>
<button class="btn btn-primary">{{i18n "account.edit_profile"}}</button>
</div>

<script src="/js/profile.js"></script>
