<!-- Profiel Pagina -->

<link rel="stylesheet" href="/css/profile.css" rel="stylesheet" crossorigin="anonymous">

<table class="table">
	<tbody>
		<tr>
			<td class="text-right" id="properties">
				{{i18n "account.name"}}
				<br />
				{{i18n "account.email"}}
				<br />
				{{i18n "account.admin"}}
				<br />
				{{i18n "account.password"}}
			</td>
			<td class="text-left">
				<span>{{user.name}}</span>
				<br />
				<span>{{user.email}}</span>
				<br />
				<span>
				{{#if user.isAdmin}}
					{{i18n "account.yes"}}
				{{else}}
					{{i18n "account.no"}}
				{{/if}}
				</span>
				<br />
				<i>
					<span>hidden</span>
				</i>
			</td>
		</tr>
	</tbody>
</table>
<button class="btn btn-warning">{{i18n "account.edit_profile"}}</button>

<script src="/js/profile.js"></script>