
<div class="row">

  <div class="col-12 col-xl-6">
    <h1>{{ sensorHub.SerialID }}</h1>
    <table class="table table-responsive-md table-striped">
      <thead class="rgba-blue-dark darken-3">
        <tr class="text-white">
          <th>{{i18n "sensor.temperature"}}</th>
          <th>{{i18n "sensor.timestamp"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each sensorHubData}}
          <tr>
            <td>
              {{this.Value}}°C
            </td>
            <td>
              {{this.localDate}}
            </td>
          </tr>
        {{/each}}

      </tbody>

    </table>
    <canvas id="myChart" width="700" height="300"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
  <!-- Start Js -->
    let ctx = document.querySelector('#myChart').getContext('2d');

    let myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      {{#each sensorHubData}}
      labels: ["{{this.localDate}}"],
      {{/each}}
      datasets: [
        {
          label: "Temparature in celsius",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: [
          {{#each sensorHubData}}
            {{this.Value}},
          {{/each}}
        ]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'The average temperature'
      }
    }
});
    </script>
  </div>

</div>
