<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/jquery.dataTables.min.css" integrity="sha256-YY1izqyhIj4W3iyJOaGWOpXDSwrHWFL4Nfk+W0LyCHE=" crossorigin="anonymous" />

<h1>{{ sensorHub.SerialID }}</h1>
<hr>

<div class="row">
  <div class="col-12">
    <h2>Temperature</h2>
  </div>

  <div class="col-12 col-xl-6">
    <table class="table table-responsive-md table-striped" id="table-temp">
      <thead class="rgba-blue-dark darken-3">
        <tr class="text-white">
          <th>{{i18n "sensor.temperature"}}</th>
          <th>{{i18n "sensor.timestamp"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each temperatureData}}
        <tr>
          <td>
            {{this.Value}}°C
          </td>
          <td>
            {{this.Timestamp}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="col-12 col-xl-6">
    <canvas id="tempChart" style="margin-top: 80px;"></canvas>
  </div>

  <script>
    $(document).ready(() => {
      var chartColors = {
        red: 'rgb(255, 99, 132)'
      };

      let ctx = document.querySelector('#tempChart').getContext('2d');
      let myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: [
            {{#each temperatureData}}
            "",
            {{/each}}
          ],
          datasets: [
            {
              label: "Temparature in celsius",
              backgroundColor: chartColors.red,
              data: [
                {{#each temperatureData}}
                {{this.Value}},
                {{/each}}
              ]
            }
          ]
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: 'The average temperature'
          }
        }
      });
    });
  </script>
</div>

<br>

<div class="row">
  <div class="col-12">
    <h2>Light intensity</h2>
  </div>

  <div class="col-12 col-xl-6">
    <table class="table table-responsive-md table-striped" id="table-light">
      <thead class="rgba-blue-dark darken-3">
        <tr class="text-white">
          <th>Light intensity</th>
          <th>{{i18n "sensor.timestamp"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each lightData}}
        <tr>
          <td>
            {{this.Value}} Lux
          </td>
          <td>
            {{this.Timestamp}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="col-12 col-xl-6">
    <canvas id="lightChart" style="margin-top: 80px;"></canvas>
  </div>

  <script>
    $(document).ready(() => {
      var chartColors = {
        red: 'rgb(255, 99, 132)'
      };

      let ctx = document.querySelector('#lightChart').getContext('2d');
      let myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: [
            {{#each lightData}}
            "",
            {{/each}}
          ],
          datasets: [
            {
              label: "Light in lux",
              backgroundColor: chartColors.red,
              data: [
                {{#each lightData}}
                {{this.Value}},
                {{/each}}
              ]
            }
          ]
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: 'The average light intensity'
          }
        }
      });
    });
  </script>
</div>

<br>

<div class="row">
  <div class="col-12">
    <h2>Gass concentration</h2>
  </div>

  <div class="col-12 col-xl-6">
    <table class="table table-responsive-md table-striped" id="table-gass">
      <thead class="rgba-blue-dark darken-3">
        <tr class="text-white">
          <th>Gass concentration</th>
          <th>{{i18n "sensor.timestamp"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each gassesData}}
        <tr>
          <td>
            {{this.Value}} PPM
          </td>
          <td>
            {{this.Timestamp}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="col-12 col-xl-6">
    <canvas id="gassChart" style="margin-top: 80px;"></canvas>
  </div>

  <script>
    $(document).ready(() => {
      var chartColors = {
        red: 'rgb(255, 99, 132)'
      };

      let ctx = document.querySelector('#gassChart').getContext('2d');
      let myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: [
            {{#each lightData}}
            "",
            {{/each}}
          ],
          datasets: [
            {
              label: "Gass in PPM",
              backgroundColor: chartColors.red,
              data: [
                {{#each lightData}}
                {{this.Value}},
                {{/each}}
              ]
            }
          ]
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: 'The average gass concentration'
          }
        }
      });
    });
  </script>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/jquery.dataTables.min.js" integrity="sha256-qcV1wr+bn4NoBtxYqghmy1WIBvxeoe8vQlCowLG+cng=" crossorigin="anonymous"></script>
<script src="/js/sensorhub.js" crossorigin="anonymous"></script>
